<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    {{> header}}

    <!-- Using screamIt helper to return welcomeMessage in upperCase  -->
    <p>{{ screamIt welcomeMessage }}</p>

    {{> footer}}
  </body>
</html>
