<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ infoMessage.title }}</title>
  </head>
  <body>
    <h1>{{ infoMessage.title }}</h1>
    <p>{{ infoMessage.description }}</p>
  </body>
</html>
